In [1]:
print('hello')

hello

In [2]:
x = 10 
print('x: ', x)

x:  10

# welcome to jupyter 
## makrdown is cool 

1. download installer 
2. run installer 


* define varaible 
* print variable

# variable is a name of a place in memory 
# المتغير هو عبارة عن اسم مكان في الذاكرة

In [3]:
x = 10 # variable 
print(x)
x = 20 
print(x)

10
20

In [5]:
x = 10 
print(x)
x = 20 
print(x)

10
20

In [6]:
x

20

In [7]:
print(y)

NameError: name 'y' is not defined

In [8]:
y = 30 
print(y)

30

# bad variable names

In [9]:
a = 120191122 
b = 'Ahmed'

# good variable names

In [10]:
student_id = 120191122 
student_name = 'Ahmed'

In [11]:
3x = 10

SyntaxError: invalid syntax (<ipython-input-11-bad88ae52eea>, line 1)

In [12]:
x3 = 10 
_3 = 10

In [1]:
x$name = 10

SyntaxError: invalid syntax (<ipython-input-1-bc4f921ffca1>, line 1)

In [ ]:
car_speed = 70 # naming using under score 
carSpeed = 70 # camel naming 
carspeed = 70 # not readbale

In [13]:
x = 10 
X = 20 
print(x, X)

10 20

In [14]:
23 / 5

4.6

In [2]:
23 // 5

4

In [3]:
23 % 5

3

In [4]:
divmod(23, 5)

(4, 3)

In [5]:
x = 3 
type(x)

int

In [6]:
x = 3.5 
type(x)

float

In [7]:
x = 'abc'
type(x)

str

In [8]:
3 + 4

7

In [9]:
3 / 4

0.75

In [10]:
10 / 2

5.0

In [11]:
2 + 3.1

5.1

In [12]:
'a' + 'b' # concat

'ab'

In [13]:
'a' - 'b' # error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
# this is comment

# this is h1

In [15]:
'a' * 3

'aaa'

In [16]:
int('23')

23

In [17]:
int('23') + 5

28

In [18]:
int('23ab')

ValueError: invalid literal for int() with base 10: '23ab'

In [19]:
int('23.1')

ValueError: invalid literal for int() with base 10: '23.1'

In [20]:
float('23.1')

23.1

In [21]:
float('23.1.2')

ValueError: could not convert string to float: '23.1.2'

In [23]:
val = input()
type(int(val))

 12

int

In [24]:
val = input()
type(val)

 12

str