# Python Lists

In [1]:
x = 10

In [2]:
x = 20

In [3]:
x

20

In [4]:
y = [10, 20]

In [5]:
friend = 'Ahmed'

In [6]:
friend = 'Ali'

In [7]:
friend

'Ali'

In [8]:
friend = ['Ahmed', 'Ali']

In [9]:
type(friend)

list

In [10]:
x = [10, 20] # list of int 
y = ['a', 'b'] # list of str 
w = [120201122, 'Ahmed', 60.3]

In [12]:
x

[10, 20]

In [13]:
y

['a', 'b']

In [14]:
w

[120201122, 'Ahmed', 60.3]

In [15]:
print(type(x), type(y), type(w))

<class 'list'> <class 'list'> <class 'list'>

In [16]:
a = [1, ['b', 3], 'c', 4]

In [17]:
a[0]

1

In [19]:
a[1]

['b', 3]

In [20]:
a[1][0]

'b'

In [21]:
# Empty String 
empty_str = ''

In [22]:
empty_str

''

In [23]:
print(empty_str)

In [24]:
q = [] # empty list 
list1 = list() # empty list

In [25]:
q

[]

In [26]:
list1

[]

In [27]:
friends = ['Joseph', 'Glenn', 'Sally']
# loop using iteration variable 
for name in friends:
    print(name)

Joseph
Glenn
Sally

In [28]:
# iteration variable 
for num in [5, 4, 3, 2, 1] :
    print(num)

5
4
3
2
1

In [29]:
friends = ['Joseph', 'Glenn', 'Sally']
# loop using iteration variable 
for name in friends:
    print('happy new year', name)

happy new year Joseph
happy new year Glenn
happy new year Sally

In [37]:
# using index 
for i in range(len(friends)):
    print('happy new year', friends[i])

happy new year Joseph
happy new year Hasan
happy new year Sally

In [32]:
friends

['Joseph', 'Glenn', 'Sally']

In [35]:
friends[1] = 'Hasan' # mutable list

In [34]:
friends

['Joseph', 'Hasan', 'Sally']

In [38]:
s = 'banana'

In [39]:
s[0]

'b'

In [40]:
s[0] = 'p' # string is imputable list

TypeError: 'str' object does not support item assignment