# Python Lists

In [1]:
x = [10, 20]
x

[10, 20]

In [3]:
x = [10, 20, 30]
x

[10, 20, 30]

In [4]:
x.append(40)
x

[10, 20, 30, 40]

In [5]:
list1 = [120201122, 'Ahmed']
list1

[120201122, 'Ahmed']

In [6]:
type(list1)

list

In [7]:
type(list1[0])

int

In [8]:
type(list1[1])

str

In [9]:
list1.append(90.1)

In [10]:
list1

[120201122, 'Ahmed', 90.1]

In [11]:
x = [1, ['a', 'b'], 2, 3]

In [12]:
x

[1, ['a', 'b'], 2, 3]

In [13]:
x[0]

1

In [14]:
x[1]

['a', 'b']

In [15]:
x[1][0]

'a'

In [16]:
a = list() # empty list 
b = [] # empty list

In [17]:
a

[]

In [18]:
b

[]

In [19]:
c = [1, 2, 3]
d = list([1, 2, 3])

In [20]:
c

[1, 2, 3]

In [21]:
d

[1, 2, 3]

In [22]:
# Empty String 
empty_str = ''

In [23]:
empty_str

''

In [24]:
print(empty_str)

In [26]:
friends = ['Joseph', 'Glenn', 'Sally']
for name in friends:
    print('hello', name)
print('done')

hello Joseph
hello Glenn
hello Sally
done

In [27]:
# loop on list using iteration variable 
friends = ['Joseph', 'Glenn', 'Sally']
for name in friends:
    print('happy new year', name)
print('done')

happy new year Joseph
happy new year Glenn
happy new year Sally
done

In [28]:
range(3)

range(0, 3)

In [29]:
list(range(3))

[0, 1, 2]

In [31]:
# loop on list using index 
friends = ['Joseph', 'Glenn', 'Sally', 'Ahmed']
for i in range(len(friends)):
    print('happy new year', friends[i])

happy new year Joseph
happy new year Glenn
happy new year Sally
happy new year Ahmed

In [32]:
friends

['Joseph', 'Glenn', 'Sally', 'Ahmed']

In [33]:
# list is mutable using index 
friends[1] = 'Hassan'

In [34]:
friends

['Joseph', 'Hassan', 'Sally', 'Ahmed']

In [35]:
s = 'banana'
s

'banana'

In [36]:
s[0]

'b'

In [37]:
s[0] = 'p'

TypeError: 'str' object does not support item assignment

# string is imputable list

In [39]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b # concat

[1, 2, 3, 4, 5, 6]

In [40]:
c = a + b 
print(c)

[1, 2, 3, 4, 5, 6]

In [41]:
a - b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

# اكتب برنامج لجمع عناصر قائمتين

In [44]:
a = [1, 2, 3]
b = [4, 5, 6]
c = []
c = [a[0] + b[0], a[1] + b[1], a[2] + b[2]]
c

[5, 7, 9]

In [48]:
a1 = [1, 2, 3,4, 5, 6, 7, 8, 9, 10]
b1 = [11, 12, 13,14, 15, 16, 17, 18, 19, 20]

In [46]:
c = []
if len(a) == len(b):
    for i in range(len(a)):
        r = a[i] + b[i]
        c.append(r)
else:
    print('error: the two list have different length')
c

[5, 7, 9]

In [50]:
a1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
b1

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [49]:
c = []
if len(a1) == len(b1):
    for i in range(len(a1)):
        r = a1[i] + b1[i]
        c.append(r)
else:
    print('error: the two list have different length')
c

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [52]:
a1.append(99)

In [53]:
c = []
if len(a1) == len(b1):
    for i in range(len(a1)):
        r = a1[i] + b1[i]
        c.append(r)
else:
    print('error: the two list have different length')
c

error: the two list have different length

[]

In [54]:
a1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 99]

In [55]:
len(a1)

11

In [56]:
b1

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [57]:
len(b1)

10